@page
@model internship_exercise_1.Pages.IndiaModel
@{
    ViewData["Title"] = "INDIA";
}
<link href="~/css/indiastyle.css" rel="stylesheet" />

<body>
    <div class="af">
        <h1>@ViewData["Title"]</h1>

        <p>Hello po!!!!</p>
     
        <img src="~/css/amer fort.jpg" />
        <h2 class="display-4">Welcome to AMER FORT</h2>
        <p>@ViewData["v1"]s</p>
    </div>

    <div class="d">
        <img src="~/css/delhi.jpg" />
        <h1 class="display-4">Welcome to AMER FORT</h1>
        <p>@ViewData["v2"]</p>
    </div>

    <div class="tuba">
        <img src="~/css/golden temple.jpg" />
        <h1 class="display-4">Welcome to GOLDEN TEMPLE</h1>
        <p>@ViewData["v3"]</p>
    </div>

    <div class="v">
        <img src="~/css/hawa mahal.jpg" />
        <h1 class="display-4">Welcome to HAWA MAHAL</h1>
        <p>@ViewData["v4"]</p>
    </div>

    <div class="y">
        <img src="~/css/taj.jpg" />
        <h1 class="display-4">Welcome to TAJ MAHAL</h1>
        <p>@ViewData["v5"]</p>
    </div>

</body>

