@page
@model IndonesiaModel
@{

ViewData["Title"] = "INDONESIA";
}

<link href="~/css/indonesiastyle - copy (2).css" rel="stylesheet" />
<body>
    <div class="kd">
        <h1>@ViewData["Title"]</h1>

        <p>Hello po!!!!</p>

        <img src="~/css/kecakdance.jpg" />
        <h2 class="display-4">Welcome to KECAK DANCE</h2>
        <p>@ViewData["v1"]</p>
    </div>

    <div class="t">
        <img src="~/css/tanahlot.jpg" />
        <h1 class="display-4">Welcome to KAYANGAN</h1>
        <p>@ViewData["v2"]</p>
    </div>

    <div class="u">
        <img src="~/css/uluwutu.jpg" />
        <h1 class="display-4">Welcome to TUBBATAHA</h1>
        <p>@ViewData["v3"]</p>
    </div>

    <div class="b">
        <img src="~/css/bali.jpg" />
        <h1 class="display-4">Welcome to VIGAN</h1>
        <p>@ViewData["v4"]</p>
    </div>

    <div class="bs">
        <img src="~/css/baliswing.jpg" />
        <h1 class="display-4">Welcome to YAPAK</h1>
        <p>@ViewData["v5"]</p>
    </div>


</body>


   