@page
@model MalaysiaModel
@{
    ViewData["Title"] = "MALAYSIA";
}
<link href="~/css/malaysiastyle.css" rel="stylesheet" />
<body>
    <div class="k">
        <h1>@ViewData["Title"]</h1>

        <p>Hello po!!!!</p>

        <img src="~/css/mal/kinabatangan.jpg" />
        <h2 class="display-4">Welcome to KINABATANGAN</h2>
        <p>@ViewData["v1"]</p>
    </div>

    <div class="l">
        
        <img src="~/css/mal/langkawi.jpg" />
        <h1 class="display-4">Welcome to LANGKAWI</h1>
        <p>@ViewData["v2"]</p>
    </div>

    <div class="m">
        <img src="~/css/mal/mantanani.jpg" />
        <h1 class="display-4">Welcome to MANTANANI</h1>
        <p>@ViewData["v3"]</p>
    </div>

    <div class="p">
        
        <img src="~/css/mal/penang.jpg" />
        <h1 class="display-4">Welcome to PENANG</h1>
        <p>@ViewData["v4"]</p>
    </div>

    <div class="r">
        <img src="~/css/mal/redang.jpg" />
        <h1 class="display-4">Welcome to REDANG</h1>
        <p>@ViewData["v5"]</p>
    </div>


</body>

