@page
@model PhilippinesModel
@{

ViewData["Title"] = "PHILIPPINES";
}

<link href="~/css/phstyle.css" rel="stylesheet" />
<body>
    <div class="fs">
    <h1>@ViewData["Title"]</h1>

    <p>Hello po!!!!</p>

        <img src="~/css/fortsantiagoph.jpg" />
        <h2 class="display-4">Welcome to FORT SANTIAGO</h2>
        <p>@ViewData["v1"]</p>
   </div>

    <div class="kayangan">
        <img src="~/css/kayanganph.jpg" />
        <h1 class="display-4">Welcome to KAYANGAN</h1>
        <p>@ViewData["v1"]</p>
    </div>

    <div class="tuba">
        <img src="~/css/tubbatahaph.jpg" />
        <h1 class="display-4">Welcome to TUBBATAHA</h1>
        <p>@ViewData["v2"]</p>
    </div>

    <div class="v">
        <img src="~/css/viganph.jpg" /> 
        <h1 class="display-4">Welcome to VIGAN</h1>
        <p>@ViewData["v3"]</p>
    </div>

    <div class="y">
        <img src="~/css/yapakph.jpg" /> 
        <h1 class="display-4">Welcome to YAPAK</h1>
        <p>@ViewData["v4"]</p>
    </div>

    <div class="kayangan">
        <img src="~/css/kayanganph.jpg" /> 
        <h1 class="display-4">Welcome to KAYANGAN</h1>
        <p>@ViewData["v5"]</p>
    </div>

</body>

   

