@page
@model ThailandModel

@{
    ViewData["Title"] = "THAILAND";
}
<link href="~/css/thailandstyle.css" rel="stylesheet" />

<body>
    <div class="gp">

        <h1>HELLO PO!!!</h1>
       
        <img src="~/css/thai/grand palace.jpg" />
        <h2 class="display-4">Welcome to THAILAND</h2>
        <p>@ViewData["v1"]</p>
    </div>

    <div class="ky">

        <p>hello po!!!!</p>

        <img src="~/css/thai/khao yai.jpg" />
        <h2 class="display-4">Welcome to THAILAND</h2>
        <p>@ViewData["v2"]</p>
    </div>

    <div class="kp">

        <p>hello po!!!!</p>

        <img src="~/css/thai/koh phi phi.jpg" />
        <h2 class="display-4">Welcome to THAILAND</h2>
        <p>@ViewData["v3"]</p>
    </div>

    <div class="p">

        <p>hello po!!!!</p>

        <img src="~/css/thai/pai.jpg" />
        <h2 class="display-4">Welcome to THAILAND</h2>
        <p>@ViewData["v4"]</p>
    </div>


    <div class="r">

        <p>hello po!!!!</p>

        <img src="~/css/thai/railay.jpg" />
        <h2 class="display-4">Welcome to THAILAND</h2>
        <p>@ViewData["v5"]</p>
    </div>
    
</body>
